.fourth-section {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.invisible-text {
    visibility: hidden;
}

.card-img {
    object-fit: cover;
}

.small-card:hover {
    cursor: pointer;
}

.card-img-overlay > * {
    transform: translateY(20px);
    transition: transform .4s;
}

.small-card:hover img{
    opacity: 0.5;
    filter: blur(5px);
    transition: opacity .4s;
}

.small-card:hover p {
    visibility: visible;
}

.card-img-overlay:hover > * {
    transform: translateY(0);
}

.border-button {
    box-sizing: border-box;
}