body {
    background-color: #FFFFCC; 
    /* background-image: url(../images/farm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; */
}

.second-section {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.text-brown {
	color: brown;
}

/* .relate {
    position: relative;
} */

/* .background-onions {
    background-image: url(../images/onions.jpg);
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} */

/* .back-image {
    position: absolute;
} */
