body {
    background-color: #FFFFCC;
}

.text-brown {
	color: brown;
}

/* .relate {
    position: relative;
} */

/* .background-onions {
    background-image: url(../images/onions.jpg);
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} */

/* .back-image {
    position: absolute;
} */
