.third-section {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.shadow-card:hover {
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    transition: all 0.3s ease;
}

.justify-text {
    text-align: justify;
}

.front-image {
    transition: .3s;
}

.front-image:hover {
    cursor: pointer;
    opacity: 0;
    transition-duration: .3s;
}